

@utility ds-shadow-xs {
  box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

@utility ds-shadow-sm {
  box-shadow:
    0px 1px 3px 0px rgba(10, 13, 18, 0.1),
    0px 1px 2px 0px rgba(10, 13, 18, 0.06);
}

@utility ds-shadow-md {
  box-shadow:
    0px 4px 8px -2px rgba(10, 13, 18, 0.1),
    0px 2px 4px -2px rgba(10, 13, 18, 0.06);
}

@utility ds-shadow-lg {
  box-shadow:
    0px 12px 16px -4px rgba(10, 13, 18, 0.08),
    0px 4px 6px -2px rgba(10, 13, 18, 0.03);
}

@utility ds-shadow-xl {
  box-shadow:
    0px 20px 24px -4px rgba(10, 13, 18, 0.08),
    0px 8px 8px -4px rgba(10, 13, 18, 0.03);
}

@utility ds-shadow-2xl {
  box-shadow: 0px 24px 48px -12px rgba(10, 13, 18, 0.18);
}

@utility ds-shadow-3xl {
  box-shadow: 0px 32px 64px -12px rgba(10, 13, 18, 0.14);
}

/*****************/
/***LIGHT BLUR***/
/***************/
@utility ds-blur-sm-light {
  @apply backdrop-blur-[4px] bg-[#];
}

@utility ds-blur-md-light {
  @apply backdrop-blur-[8px] bg-[#ffffff99];
}

@utility ds-blur-lg-light {
  @apply backdrop-blur-[12px] bg-[#ffffff99];
}

@utility ds-blur-xl-light {
  @apply backdrop-blur-[20px] bg-[#ffffff99];
}

/****************/
/***DARK BLUR***/
/**************/
@utility ds-blur-sm-dark {
  @apply backdrop-blur-[4px] bg-[#00000099];
}

@utility ds-blur-md-dark {
  @apply backdrop-blur-[8px] bg-[#00000099];
}

@utility ds-blur-lg-dark {
  @apply backdrop-blur-[12px] bg-[#00000099];
}

@utility ds-blur-xl-dark {
  @apply backdrop-blur-[20px] bg-[#00000099];
}
