@theme {
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-xs--letter-spacing: 0.06px;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-sm--letter-spacing: 0.0044rem;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-base--letter-spacing: 0.005rem;

  --text-lg: 1.125rem;
  --text-lg--line-height: normal;
  --text-lg--letter-spacing: 0.0056rem;

  --text-xl: 1.25rem;
  --text-xl--line-height: normal;
  --text-xl--letter-spacing: 0.0063rem;

  --text-2xl: 1.5rem;
  --text-2xl--line-height: normal;
  --text-2xl--letter-spacing: 0.0075rem;

  --text-3xl: 1.875rem;
  --text-3xl--line-height: normal;
  --text-3xl--letter-spacing: 0.0094rem;

  --text-4xl: 2.25rem;
  --text-4xl--line-height: normal;
  --text-4xl--letter-spacing: 0.0112rem;

  --text-5xl: 3rem;
  --text-5xl--line-height: normal;
  --text-5xl--letter-spacing: 0.015rem;

  --text-6xl: 60px;
  --text-6xl--line-height: normal;
  --text-6xl--letter-spacing: 0.015rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
