@theme {
  --text-ds-xs: 0.75rem;
  --text-ds-xs--line-height: 1rem;
  --text-ds-xs--letter-spacing: 0.06px;

  --text-ds-sm: 0.875rem;
  --text-ds-sm--line-height: 1.25rem;
  --text-ds-sm--letter-spacing: 0.0044rem;

  --text-ds-base: 1rem;
  --text-ds-base--line-height: 1.5rem;
  --text-ds-base--letter-spacing: 0.005rem;

  --text-ds-lg: 1.125rem;
  --text-ds-lg--line-height: normal;
  --text-ds-lg--letter-spacing: 0.0056rem;

  --text-ds-xl: 1.25rem;
  --text-ds-xl--line-height: normal;
  --text-ds-xl--letter-spacing: 0.0063rem;

  --text-ds-2xl: 1.5rem;
  --text-ds-2xl--line-height: normal;
  --text-ds-2xl--letter-spacing: 0.0075rem;

  --text-ds-3xl: 1.875rem;
  --text-ds-3xl--line-height: normal;
  --text-ds-3xl--letter-spacing: 0.0094rem;

  --text-ds-4xl: 2.25rem;
  --text-ds-4xl--line-height: normal;
  --text-ds-4xl--letter-spacing: 0.0112rem;

  --text-ds-5xl: 3rem;
  --text-ds-5xl--line-height: normal;
  --text-ds-5xl--letter-spacing: 0.015rem;

  --text-ds-6xl: 3.75rem;
  --text-ds-6xl--line-height: normal;
  --text-ds-6xl--letter-spacing: 0.015rem;

  --text-ds-7xl: 4.5rem;
  --text-ds-7xl--line-height: normal;
  --text-ds-7xl--letter-spacing: 0.0225rem;

  --font-weight-ds-regular: 400;
  --font-weight-ds-medium: 500;
  --font-weight-ds-semibold: 600;
  --font-weight-ds-bold: 700;
}
